:root {
  --color-nacBlack: #121617;
  --color-premium: #ecac0c;
  --color-babyBlue: #38a3d7;
  --color-darkBlue: #ecac0d;
  --color-green: #50af53;
  --color-lightGreen: #97cd92;

  --font-darkGray: #303b3c;
  --font-gray: #e5e7eb;
  --font-white: white;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  color: var();

  height: 2000px;



  background-color: var(--font-gray);

}

.container {
  width: 90%;
  margin: auto;
  
  }
  

section img{
  width: 330px;
  height: 80px; 
  padding-top: 50px;
}

.grid {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.column-4 {
  width: 33.33%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px;
  margin: 0 -10px;
  text-align: center;
 
 

}



h1 {
  font-size: 24px;
  margin-top: 0;
  padding-top: 20px;
}

p {
  font-size: 16px;
  
}

h2 {
  font-size: 20px;
  padding-top: 20px;
}
.image-with-gradient {
  position: relative;
  display: inline-block;
  
  
}

.image-with-gradient::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(179, 43, 127, 0.5));
}

.image-with-gradient img {
  display: block;
  width: 100%;
  height: 200px;
}

.image-with-gradient {
  height: 200px;
  width: 100%;
}

.column-4 .second{
  background-color: #121617;
  color: #e5e5e5;
  height: 200px;
  text-align: center;
  
}

.column-4 .second :hover{
  opacity: .3;
}
.column-4 .third {
  background-color: #303b3c;
  /* max-height: fit-content; */
  height: 200px;

}

.column-4 .third h2{
  color:#e5e5e5;
  margin-top: 0;
  padding-top: 16px;
  text-align: center;
 
  
}
.column-4 .third img{
  width: 150px;
  height: 30px;
  padding-left: 30px;
  /* padding-top: 70px; */
 
 
}
.column-4 .third h2:hover{
  text-decoration: underline;
}
.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #e5e5e5;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 50px; 
 
  
}

.column-4 .third p{
 margin-top: 0;
margin-top:  30px;
color: #f3f7f8;

  
}

  .footer1 {
    display: flex;
  }

  .footer1 .col-4 {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid; */
    padding: 10px;
    box-sizing: border-box;
  }

  .footer1 img {
    max-width: 100%;
    height: 200px;
  }
  .footer1 h3{
    color: #38a3d7;
  }
  .footer{
    display:flex;
    background-color: #121617;
    color: #f3f7f8;
  }
  .col-3{
    width: 25%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px;
    margin: 0 -10px;
    text-align: center;

  }
  .footer h4:hover{
    opacity: .3;
    color: #50af53;
    
  }
  .footer h1{
    font-size: 50px;
  }
  .footer h1:hover{
    opacity: .4;
    color: #50af53;

  }

* {
  text-decoration: none;
  list-style: none;
}

/* ---------------Nav--------------------- */
/* .nav {
  position: fixed;
  width: 90%;
} */
nav {
  background-color: var(--color-nacBlack);
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 28px;
  padding: 0 10px;
}
nav .logo a {
  text-decoration: none;
  color: white;
  text-transform: lowercase;
}

nav .fa-book {
  color: white;
  background-color: var(--color-nacBlack);
}
.fa-chart-bar {
  color: white;
  cursor: pointer;
  background-color: var(--font-darkGray);
  padding: 5px;
}
nav > .search {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .search button {
  background-color: var(--color-nacBlack);
  color: var(--font-white);
  border: none;
}
nav .search button a {
  color: var(--font-white);
}
nav .search .search {
  padding: 10px 15px;
  text-transform: uppercase;
  background-color: var(--color-darkBlue);
  margin: 0 8px;
}
nav .search .search a {
  color: var(--color-nacBlack);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
}
nav .search .signIn {
  background-color: var(--font-darkGray);
  padding: 10px;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  z-index: 3;
}

nav .search .signIn::before {
  content: "";
  height: 100%;
  width: 0;
  background-color: var(--color-babyBlue);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 30px 0 0 30px;
  transition: 0.3s;
  z-index: -2;
}
nav .search .signIn::after {
  content: "";
  height: 100%;
  width: 0;
  background-color: var(--color-darkBlue);
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 30px 30px 0;
  transition: 0.3s;
  z-index: -2;
}
nav .search .signIn:hover::before,
nav .search .signIn:hover::after {
  width: 50%;
}
.fa-magnifying-glass {
  background-color: var(--font-darkGray);
  padding: 5px;
  border-radius: 8px;
  cursor: pointer;
}

/* start down-bar */

.nav .downBar {
  height: fit-content;
  width: 300px;
  background-color: var(--color-nacBlack);
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: center;
  transition: 0.5s;
  opacity: 0;
  z-index: 2;
}

.nav .downBar .date {
  color: var(--font-white);
  font-size: 13px;
  border: 1px solid var(--font-darkGray);
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav .downBar .subscribe {
  padding: 10px 0;
  margin: 0 2px;
  font-size: 16px;
  text-transform: uppercase;
  background-color: var(--color-darkBlue);
  border: none;
  cursor: pointer;
  box-shadow: inset 0 0 0 1px transparent;
  width: 100%;
}

.nav .downBar .subscribe:hover {
  box-shadow: inset 0 0 0 1px var(--color-nacBlack);
}
.nav .downBar .sign-register {
  display: flex;
  width: 100%;
}
.nav .downBar .sign-register button {
  width: 50%;
  border: 1px solid var(--font-darkGray);
  border-bottom: none;
  padding: 10px;
  background-color: var(--color-nacBlack);
  color: var(--font-white);
  cursor: pointer;
  transition: 0.3s;
}
.nav .downBar .sign-register button:hover {
  color: var(--color-babyBlue);
}
.nav .downBar .news {
  display: flex;
  color: white;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
}
.nav .downBar .news .content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.nav .downBar .premium-change {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: var(--color-darkBlue);
  color: var(--font-white);
  border: none;
  padding: 10px;
}

.nav .downBar summary {
  color: var(--font-white);
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  height: 40px;
  border-bottom: 1px solid var(--font-darkGray);
}
.nav .downBar summary p {
  transition: 0.3s;
}
.nav .downBar summary:hover p {
  color: rgb(167, 163, 163);
}

.nav .downBar .small {
  display: flex;
  padding: 0 20px;
}
.nav .downBar .sm-text {
  color: rgb(201, 195, 195);
  font-size: 10px;
  text-transform: uppercase;
}

.nav .downBar .icons {
  display: flex;
  margin: 0 30px 0;
}
.nav .downBar .icons i {
  margin-left: 10px;
}
.nav .downBar .icons .fa-facebook-f {
  background-color: var(--font-white);
  padding: 5px 7px;
  border-radius: 6px;
}
.nav .downBar .icons .fa-twitter {
  background-color: var(--color-babyBlue);
  padding: 5px 7px;
  border-radius: 6px;
}
.nav .downBar .icons .fa-instagram {
  background-color: rgb(148, 82, 202);
  padding: 5px 7px;
  border-radius: 6px;
}
.nav .downBar .icons .fa-youtube {
  background-color: rgb(255, 81, 0);
  padding: 5px 7px;
  border-radius: 6px;
}
.nav .downBar .icons .fa-wifi {
  background-color: rgb(255, 115, 0);
  padding: 5px 7px;
  border-radius: 6px;
}

.nav .downBar .changing-text {
  margin-top: 5px;
}
.nav .downBar .changing-text .first-one {
  background: linear-gradient(to right, blue, rgb(218, 78, 78));
  padding: 10px;
  color: white;
  margin-top: 5px;
}
.nav .downBar .changing-text .second-one {
  background-color: var(--font-darkGray);
  padding: 10px;
  color: white;
  margin-top: -10px;
}

.nav .downBar details .some-data {
  display: flex;
  flex-direction: column;
  color: var(--font-white);
  justify-content: center;
  align-items: start;
  background-color: rgb(37, 37, 37);
}
.nav .downBar details .some-data h3 {
  margin-top: -10px;
  width: calc(100% - 60px);
  text-align: start;
  padding: 15px 30px;
  height: 100%;
  font-size: 16px;
  transition: 0.3s;
  cursor: pointer;
}
.nav .downBar details .some-data h3:hover {
  background-color: orange;
}

/* input search  */

.searchInput {
  position: absolute;
  left: 630px;
  transform: translateX(-50%);
  width: 70%;
  background-color: var(--font-darkGray);
  top: 10px;
  z-index: -1;
  transition: 0.4s;
}

@media (max-width: 580px) {
  nav .logo a {
    display: none;
  }
  .fa-book {
    display: none;
  }
}
@media (max-width: 1050px) {
  .searchInput {
    width: 300px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.inputDown {
  top: 65px;
  z-index: 1;
}
.searchInput input {
  width: 100%;
  padding: 10px 10px;
  background-color: var(--font-darkGray);
  color: var(--font-white);
  font-size: 18px;
  font-weight: bold;
  border: none;
}

/* start watch section */

.watch-section {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--font-darkGray);
  width: 500px;
  height: 200px;
}
.watch {
  margin: auto;
  display: flex;
  gap: 20px;
  background: linear-gradient(
    to right,
    var(--font-darkGray),
    var(--color-nacBlack),
    var(--font-darkGray)
  );

  width: fit-content;
  padding: 40px 60px;
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}
.watch::before,
.watch::after {
  content: "";
  height: 2px;
  width: 0%;
  position: absolute;
  animation: pseudo 1s linear infinite;
}
.watch::before {
  background-color: var(--color-green);
  top: 0;
  left: 0;
}
.watch::after {
  background-color: var(--color-lightGreen);
  bottom: 0;
  right: 0;
}
.watch div,
.watch span {
  color: white;
  font-size: 40px;
  font-weight: bold;
}

.date {
  padding: 20px 2px;
  color: white;
}
.date p {
  font-size: 16px;
}

@keyframes pseudo {
  0% {
    width: 0;
  }
  25% {
    width: 50%;
  }
  50% {
    width: 100%;
  }
  75% {
    width: 50%0;
  }
  100% {
    width: 0%;
  }
}

@media (max-width: 540px) {
  .watch-section {
    display: none;
  }
}



/* Slider */

.slider {
  position: relative;
  top: 700px;
  left: 50%;
  transform: translateX(-50%);
  width: fit-content;
  transition: 0.5s;
}
.arrows {
  display: flex;
  justify-content: space-between;
  width: 120%;
  position: absolute;
  left: -30px;
  top: 50%;
  transform: translateY(-50%);
}
.arrows i {
  cursor: pointer;
}

.slider ul {
  display: flex;
  position: absolute;
  left: calc(50% - 10px);
  transform: translateX(-50%);
}
.slider ul li {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid;
  margin-right: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.slider img {
  width: 400px;
  height: 300px;
  border-radius: 20px;
}
.slider ul .active {
  background-color: #38a3d7;
  border: 1px solid black;
}

/* End slider */

.newsPaper {
  width: 100%;
  position: relative;
  top: 400px;
}
.newsPaper .content-three {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  flex-wrap: wrap;
}
.newsPaper .content-three .content-text {
  border-bottom: 1px solid rgb(196, 192, 192);
  padding-bottom: 17px;
  width: fit-content;
  border-top: 1px solid var(--color-premium);
  width: 300px;
}
.newsPaper .content-three .content-text::after {
  content: "premium";
  color: var(--color-nacBlack);
  position: relative;
  bottom: 113px;
  left: 285px;
  background-color: var(--color-darkBlue);
  padding: 3px 10px;
  font-size: 12px;
  font-weight: bold;
}
.newsPaper .content-three .content-text {
  border-bottom: 1px solid rgb(196, 192, 192);
  padding-bottom: 17px;
}
.newsPaper .content-three .content-text h5 {
  font-weight: bold;
  font-style: italic;
}
.newsPaper .content-three .content-text .text-content {
  color: var(--font-darkGray);
  transition: 0.3s;
}
.newsPaper .content-three .content-text .text-content:hover {
  color: gray;
}
.green-word {
  color: var(--color-green);
}
.blue-word {
  color: var(--color-babyBlue);
}
.pink-word {
  color: rgb(168, 62, 97);
}
.hidden-text {
  font-size: 10px;
  color: gray;
  position: absolute;
  bottom: -8px;
}

/* start video section */

.video {
  position: relative;
  width: 100%;
  top: 500px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: center;
}
.video .section-one img {
  width: 300px;
}

.video .section-one {
  display: flex;
  color: white;
  background-color: var(--color-nacBlack);
  flex-direction: column;
  width: 100%;
  justify-content: center;
  padding-bottom: 10px;
  opacity: 0;
  transition: 0.3s;
}
.appear-element {
  opacity: 1;
}
.video .section-one .contents {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
.word > h2 {
  margin-left: 70px;
  font-size: 30px;
  transition: 0.3s;
  cursor: pointer;
}
.word > h2:hover {
  color: gray;
}
.video .section-one .contents h6 {
  margin-top: 5px;
  font-family: "Courier New", Courier, monospace;
}
.video .section-one .contents p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: italic;
  margin-top: -15px;
  transition: 0.3s;
}
.video .section-one .contents p:hover {
  color: gray;
}

/* start news section */

.interval-news {
  position: relative;
  top: 900px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  transition: 0.3s;
  opacity: 0;
}
.left-text {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.dialog-header {
  font-weight: bold;
  margin-left: 10px;
  width: fit-content;
  font-size: 24px;
}
.left-text p {
  margin-left: 20px;
}
.interval-news .right-section {
  display: flex;
  flex-direction: column;
  width: 700px;
  margin-right: -80px;
}
.interval-news .right-section .dialog-area {
  display: flex;
  gap: 20;
  flex-wrap: wrap;
}
.interva-images img {
  width: 600px;
  height: 350px;
}
.interval-news .right-section .dialog-area .box-dialog {
  width: 250px;
  height: 120px;
  margin-right: 20px;
  border-bottom: 1px solid var(--font-darkGray);
  position: relative;
}
.interval-news .right-section .dialog-area .box-dialog h4 {
  color: var(--color-babyBlue);
}
.borderTop-box {
  border-top: 1px solid var(--color-premium);
  position: relative;
}
.borderTop-box::after {
  content: "premium";
  font-size: 12px;
  font-weight: bold;
  color: var(--color-nacBlack);
  background-color: var(--color-darkBlue);
  position: absolute;
  top: 0;
  right: 0;
  padding: 3px 7px;
}
.interval-news .right-section .dialog-area .rm-bb {
  border-bottom: none;
}
.small-dialog {
  color: gray;
  font-size: 12px;
  position: absolute;
  bottom: -10px;
  transition: 0.3s;
}
.small-dialog:hover {
  color: var(--color-lightGreen);
}
.icon-text {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
  position: absolute;
  bottom: 370px;
}
.icon-text p {
  color: gray;
  font-size: 12px;
}

